.selectedPage {
    font-weight: 900;
    background: green;
    color: white;
    border: 3px solid rgba(0, 191, 255, 0.21);
}
.default_styles {
    font-weight: normal;
}
.usersContent {
    display: grid;
}
.pagesButtonSection {
   justify-self: center;
}