.header {
    grid-area: headerName;
    background: linear-gradient(90deg, rgba(0, 82, 33, 1) 0%, rgba(26, 180, 23, 1) 71%, rgba(159, 240, 149, 1) 100%);
}

.logo {
    width: 120px;
    height: 80px
}