.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    background: rgba(239, 239, 239, 0.37);

    grid-template-areas: "headerName headerName"
                         "navName contentName";

    grid-template-rows: 40px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-row-gap: 5px;

}

.app-wrapper-content {
    grid-area: contentName;
    background: #a5777b;
}